ul.hr {
	margin-left: 17%;
	position: relative;
   }
   
   
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
	
   }
   
ul.hr2 {
	margin-left: 40%;
   }

ul.hr2 li {
   font-size: 22px; /* Отображать как строчный элемент */
   }

div.relative{
	margin-left: 3%;
	position: relative;
	position: absolute;
	display: inline;
}

   
div.divclass {
	padding-top: 15px;
	margin-left: 12%;
	margin-right: 12%;
	height: 180px; /* Высота */
    background: #FFF; /* Цвет фона */
	opacity: 0.94;
	
}  

div.divclass2 {
	padding: 50px;
	margin-left: 12%;
	margin-right: 12%;
	height: 765px; /* Высота */
	background-color: rgba(199, 208, 204, 0.96)
	/*background: #C7D0CC; opacity: 0.95;*/
}  

div.divclass3 {
	 display: inline;
	
} 

body.background{
	background-image: url(../bg.jpg);
}
.image{
	border: 10px solid grey;

}
.layout1{
	position: absolute;
	margin-left: 9%;
}
.layout2{
	position: relative;
	margin-left: 40%;
	margin-top: 300px;
	
}

.layout3{
	position: relative;
	margin-left: 20%;
	margin-right:20%;
	
}
div.container {
    float: left;  
    position:relative;
    left: 50%;                
}
div.main {            
    position:relative;
    left: -50%;
    float: left;
	width:600px; 
	
	padding:7px; 
	overflow:hidden;
}

/*Кнопки*/

.button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.button1 {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: #7300AA;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.button--size-l {
	font-size: 18px;
}

.button--round-l {
	border-radius: 40px;
}

.button--border-thin {
	border: 1px solid;
}

.button--ujarak {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7300AA;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak,
.button--ujarak::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
	color: #fff;
	border-color: #37474f;
}
.button--ujarak:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.hbut {
	color: #000;
	text-decoration: none;
	

}


 