<div ng-controller="pagesController">

  	<menu current="page"></menu>	
<div class = "content">
	<div ng-controller="gameController">
	 
			<div class="timer"><p>Until the end of the game: {{counter}}</p></div>

			<br><div id= "startButton" class="start" ng-click="startTimer()" ng-show="startButtonVisible">Start</div>
			<div class="finish" ng-click="stopTimer()">Finish</div></br>
			
			<pokemon></pokemon>

			<div class="health"><p>Health: {{health}}</p></div>
			<div class="score"><p>Score: {{score}}</p></div>
	</div>
	</div>
</div>